.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0; /* Start with hidden logo container */
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  transition: opacity 1s ease-in-out; 

  .solid-logo {
    width: 100%;
    opacity: 0; 
    transform: rotate(20deg); 
    z-index: 1;
    transition: opacity 4s ease-in-out; 
  }
}

@media screen and (max-width: 1200px) {
  .logo-container {
    width: 200px;
    height: 120px;
    top: 95%;
    left: auto;
    margin: auto;
    right: 25%;
  }
}
